.content-rodape {
    padding-top: 100px;
    color: var(--white);
    background-color: var(--blue);
}

.content-rodape p {
    font-size: 13px;
    word-break: break-word;
}

.content-rodape h4 {
    display: inline-block;
    border-bottom: 5px solid var(--gold);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

img.logo-branco {
    width: 30%;
    height: auto;
    margin-bottom: 40px;
}

.content-rodape .icon-fb,
.content-rodape .icon-ig,
.content-rodape .icon-in,
.content-rodape .icon-gb,
.content-rodape .icon-fb:hover,
.content-rodape .icon-ig:hover,
.content-rodape .icon-in:hover,
.content-rodape .icon-gb:hover {
    width: 25px;
    height: 25px;
    background-size: cover;
    transition: 0.4s;
}

.content-rodape .icon-fb {
    background-image: url("../assets/icons/fb-branco.png");

}

.content-rodape .icon-fb:hover {
    background-image: url("../assets/icons/fb-hover.png");
}

.content-rodape .icon-ig {
    background-image: url("../assets/icons/ig-branco.png");

}

.content-rodape .icon-ig:hover {
    background-image: url("../assets/icons/ig-hover.png");
}

.content-rodape .icon-in {
    background-image: url("../assets/icons/in-branco.png");

}

.content-rodape .icon-in:hover {
    background-image: url("../assets/icons/in-hover.png");
}

.content-rodape .icon-gb {
    background-image: url("../assets/icons/googlebusiness.png");

}

.content-rodape .icon-gb:hover {
    background-image: url("../assets/icons/googlebusiness-hover.png");
}

.redes-sociais ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: left;
}

.redes-sociais li {
    margin-right: 20px;
}

.content-rodape a {
    display: block;
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px;
}

.content-rodape a:hover {
    color: var(--gold);
}

.contato-footer img{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

img.cel {
    width: 10px;
    height: 15px;
}